<mat-card>
  <mat-card-header>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
      iusto?
    </p>
    <div class="button-list">
      <button
        mat-raised-button
        color="primary"
        (click)="scrollable().scrollTo({ top: 0, behavior: 'smooth' })"
      >
        to Top
      </button>
      <button
        mat-raised-button
        color="tertiary"
        (click)="scrollable().scrollTo({ bottom: 0, behavior: 'smooth' })"
      >
        to Bottom
      </button>
      <button
        mat-raised-button
        color="error"
        (click)="scrollable().scrollTo({ top: 900, behavior: 'smooth' })"
      >
        to Middle
      </button>
    </div>
  </mat-card-content>
</mat-card>

<div class="scrollable" (scroll)="handleScroll($event)" cdkScrollable>
  <div class="spacer" cdkScrollable>
    <div class="spacer-child">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      fugit temporibus natus aliquid id rerum?
    </div>
  </div>
</div>
